output_data/*
debugging/input_data/*
debugging/results/*
debugging/debugplots/*
results/*
*.csv
*.sol
*.lp
*.zip
CSVFiles/*
.ipynb_*
.vscode
convert_cplex_to_cbc.py

mycplexcommands

*.pickle
CSVFiles/*
*.log


